$theme: #0066FF;
$white: #FFF;
$text: #CCC;
$back: #222;
a {
    color: $theme;
    text-decoration: none;
}
body {
    background: $back;
    color: $text;
    font-family: YuGothic, "游ゴシック medium", sans-serif;
    overflow-y: scroll;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    background: $theme;
    background-size: cover;
    h1 {
        margin: 0;
        padding-top: 20px;
        font-weight: bold;
        text-align: center;
    }
    a {
        color: $white;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;
        li a {
            transition: 0.1s;
            display: block;
            padding: 0.65em 1em;
            &:hover {
                box-shadow: 0 -2px 0 $white inset;
            }
        }
    }
    small {
        color: $white;
        font-size: 8px;
        display: block;
        text-align: center;
    }
}
main {
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 640px;
    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        li {
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            a {
                transition: 0.1s;
                display:inline-block;
                background: $theme;
                color: $white;
                padding: 10px 30px;
                border-radius: 999px;
                box-shadow:
                    0 2px 5px rgba(0, 0, 0, 0.5),
                    0 2px 0 darken($theme, 50%);
                &:hover {
                    transform: translateY(2px);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
article {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    h1 a {
        font-weight: bold;
        font-size: 40px;
        color: $text;
        &:hover {
            color: $theme;
        }
    }
    time {
        font-size: 10px;
    }
    p {
        font-size: 20px;
        line-height: 1.5;
        a {
            text-decoration: underline;
        }
    }
    img {
        display: block;
        width: 100%;
    }
    &>a {
        transition: 0.1s;
        display:inline-block;
        background: $white;
        color: $theme;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 999px;
        box-shadow:
            0 2px 5px rgba(0, 0, 0, 0.5),
            0 2px 0 darken($white, 50%);
        &:hover {
            transform: translateY(2px);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        }
    }
    .YouTube {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        margin: 30px 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
